.search-bar-container {
  list-style-type: none;
  width: 100%;
  padding: 0px;
}

.link-card {
  text-decoration: none;
}

.search-list-container {
  display: flex;
  align-items: center;
  background-color: #2f2f43;
  padding: 16px;
  width: 100%;
  border-radius: 8px;
}

.search-state {
  width: 100%;
  border: none;
  outline: none;
  background-color: #2f2f43;
  color: #94a3b8;
  font-size: 16px;
  font-weight: 400;
}

.image {
  font-size: 16px;
  color: #94a3b8;
  margin-right: 10px;
}

.search-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  background-color: none;
  color: #64748b;
  font-size: 12px;
  padding: 8px;
  border-bottom: 1px solid #64748b;
  outline-color: #94a3b8;
}

.search-item:hover {
  background-color: #1f1f30;
  border: 1px solid;
}
.statename {
  width: 80%;
  padding-left: 8px;
}
.statecode {
  color: #facc15;
  font-weight: 600;
}
.statecode-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(28, 212, 212, 0.16);
  width: 67px;
  height: 28px;
  border-radius: 6px;
  margin-right: 10px;
}
.arrow-image {
  color: #facc15;
  border: 2px solid #facc15;
  padding: 2px 3px 2px 4px;
  border-radius: 4px;
  margin-left: 7px;
  font-size: 8px;
}
