.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  padding-left: 95px;
  padding-right: 95px;
  position: absolute;
  width: 1740px;
  height: 80px;
  background: #1e1e30;
}
@media (max-width: 575px) {
  .header-container {
    padding: 15px;
  }
}

.logo-and-title-container {
  display: flex;
  align-items: center;
}
.logo {
  width: 130px;
  height: 24px;
  margin-left: 150px;
}
.route-link {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 16px;
}
